---
http_interactions:
- request:
    method: get
    uri: http://api.bart.gov/api/etd.aspx/?cmd=etd&key=MW9S-E7SL-26DU-VV8V&orig=woak
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><root><uri><![CDATA[http://api.bart.gov/api/etd.aspx?orig=woak&cmd=etd]]></uri><date>01/12/2015</date>
        <time>11:31:04 AM PST</time>
        <station><name>West Oakland</name><abbr>WOAK</abbr><etd><destination>Daly City</destination><abbreviation>DALY</abbreviation><estimate><minutes>1</minutes><platform>1</platform><direction>South</direction><length>5</length><color>GREEN</color><hexcolor>#339933</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>7</minutes><platform>1</platform><direction>South</direction><length>4</length><color>BLUE</color><hexcolor>#0099cc</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>14</minutes><platform>1</platform><direction>South</direction><length>4</length><color>GREEN</color><hexcolor>#339933</hexcolor><bikeflag>1</bikeflag></estimate></etd><etd><destination>Dublin/Pleasanton</destination><abbreviation>DUBL</abbreviation><estimate><minutes>Leaving</min[...]
