---
http_interactions:
- request:
    method: get
    uri: http://api.bart.gov/api/etd.aspx/?cmd=etd&key=&orig=MONT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><root><uri><![CDATA[http://api.bart.gov/api/etd.aspx?orig=MONT&cmd=etd]]></uri><date>01/13/2015</date>
        <time>05:30:49 PM PST</time>
        <station><name>Montgomery St.</name><abbr>MONT</abbr><etd><destination>24th Street</destination><abbreviation>24TH</abbreviation><estimate><minutes>19</minutes><platform>1</platform><direction>South</direction><length>10</length><color>YELLOW</color><hexcolor>#ffff33</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>34</minutes><platform>1</platform><direction>South</direction><length>9</length><color>YELLOW</color><hexcolor>#ffff33</hexcolor><bikeflag>1</bikeflag></estimate></etd><etd><destination>Daly City</destination><abbreviation>DALY</abbreviation><estimate><minutes>Leaving</minutes><platform>1</platform><direction>South</direction><length>8</length><color>BLUE</color><hexcolor>#0099cc</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>10</minutes><[...]
