---
http_interactions:
- request:
    method: get
    uri: http://api.bart.gov/api/etd.aspx/?cmd=etd&key=MW9S-E7SL-26DU-VV8V&orig=RICH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><root><uri><![CDATA[http://api.bart.gov/api/etd.aspx?cmd=etd&orig=RICH]]></uri><date>01/09/2015</date>
        <time>11:56:49 AM PST</time>
        <station><name>Richmond</name><abbr>RICH</abbr><etd><destination>Fremont</destination><abbreviation>FRMT</abbreviation><estimate><minutes>7</minutes><platform>2</platform><direction>South</direction><length>3</length><color>ORANGE</color><hexcolor>#ff9933</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>22</minutes><platform>2</platform><direction>South</direction><length>3</length><color>ORANGE</color><hexcolor>#ff9933</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>37</minutes><platform>2</platform><direction>South</direction><length>3</length><color>ORANGE</color><hexcolor>#ff9933</hexcolor><bikeflag>1</bikeflag></estimate></etd><etd><destination>Millbrae</destination><abbreviation>MLBR</abbreviation><estimate><minutes>Leaving</minutes><platform>2</platform><direction>South</direction><length>5</length><color>RED</color><hexcolor>#ff0000</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>14</minutes><platform>2</platform><direction>South</direction><length>5</length><color>RED</color><hexcolor>#ff0000</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>29</minutes><platform>2</platform><direction>South</direction><length>5</length><color>RED</color><hexcolor>#ff0000</hexcolor><bikeflag>1</bikeflag></estimate></etd></station><message></message></root>
  recorded_at: Fri, 09 Jan 2015 19:57:02 GMT
recorded_with: VCR 2.9.3
